<div class="card large">
                            <h3>Solutions</h3>                            
                            <hr>                            
                            <span class="title">Your solutions</span>
                            <div ng-controller="uploadController">
                              <div class="container">
                            <div class="row" ng-repeat="upload in uploads">
                              <div class="col-xs-6 col-md-3">{{upload.UserName}}</div>
                              <div class="col-xs-6 col-md-3">{{upload.CreationDate | date:"medium"}}</div>
                              <div class="col-xs-6 col-md-3">{{upload.UserName}}</div>
                              <div class="col-xs-6 col-md-3">
                            <div class="btn-group" dropdown is-open="status.isopen">
                                <button type="button" class="btn btn-xs dropdown-toggle" ng-disabled="disabled">
                                Action<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="" ng-click="deleteItem(upload.Id)">Delete</a></li>       
                                </ul>
                              </div>
                              </div>                                
                              </div>                                
                            </div>

                            <span class="alert alert-success" ng-show="message">{{message}}</span>
                            <hr>
                            
                              <span class="title">Upload solution</span>
                              <input type="file" name="solution" class="upload-solution" onchange="angular.element(this).scope().onFileSelect(this)"/>    
                                <button class="btn btn-default btn-primary" ng-click="uploadFile()" ng-class="{disabled:IsDisabled()}">Upload File</button>           </div>        
                          </div>